---
import { socials } from "index.json";
import Section from "@/components/Section.astro";

import AstroLogo from "@/icons/Astro.astro";
import Discord from "@/icons/Discord.astro";
import Facebook from "@/icons/Facebook.astro";
import GitHub from "@/icons/GitHub.astro";
import Instagram from "@/icons/Instagram.astro";
import Link from "@/icons/Link.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";
import Map from "@/icons/Map.astro";
import Medium from "@/icons/Medium.astro";
import Spotify from "@/icons/Spotify.astro";
import TikTok from "@/icons/TikTok.astro";
import Twitch from "@/icons/Twitch.astro";
import WhatsApp from "@/icons/WhatsApp.astro";
import X from "@/icons/X.astro";
import YouTube from "@/icons/YouTube.astro";

const SOCIAL_ICONS: Record<string, any> = {
  AstroLogo,
  Discord,
  Facebook,
  GitHub,
  Instagram,
  Link,
  LinkedIn,
  Mail,
  Map,
  Medium,
  Spotify,
  TikTok,
  Twitch,
  WhatsApp,
  X,
  YouTube
};
---

<Section>
  <div class="container">
    {
      socials.map(({ network, username, url }) => {
        const Icon = SOCIAL_ICONS[network];

        return (
          <a
            href={url}
            aria-label={`Visita el perfil de ${username} en ${network}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon />
          </a>
        );
      })
    }
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .container a {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 4px;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .container a:hover {
    color: black;
    background: #fff;
    border: 1px solid #ddd;
  }
</style>
