---
import { socials } from "index.json";
import { getIcon } from "@/utils/Icons";
import Section from "@/components/Section.astro";
---

<Section>
  <div class="container">
    {
      socials.map(({ network, username, url }) => {
        const Icon = getIcon(network);

        return (
          <a
            href={url}
            aria-label={`Visita el perfil de ${username} en ${network}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon />
          </a>
        );
      })
    }
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .container a {
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    padding: 4px;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .container a:hover {
    color: black;
    background: #fff;
    border: 1px solid #ddd;
  }
</style>
