---
import Layout from "@/layouts/Layout.astro";

import Header from "@/components/sections/Header.astro";
import Socials from "@/components/sections/Socials.astro";
import Featured from "@/components/sections/Featured.astro";
import Buttons from "@/components/sections/Buttons.astro";
import Footer from "@/components/sections/Footer.astro";
import Steam from "@/icons/Steam.astro";

---

<!-- -->
<Layout title="link-uri">
  <main>
    <Header />
  

    <Socials />

    <!-- Poza <Featured /> -->
    <Buttons />
  
  </main>
</Layout>
<!-- <img src="https://lanyard.cnrad.dev/api/268156620050006017" 
     alt="status" 
     style="display: block; margin: auto; max-width: 50%; height: auto; opacity: 1;">
-->
  

     <img src="https://lanyard.cnrad.dev/api/268156620050006017" 
     alt="status" 
     class="responsive-image">

<style>
  .responsive-image {
    display: block;
    margin: auto;
    max-width: 100%; /* Ocupă întreaga lățime a containerului */
    height: auto;
  }

  @media (min-width: 768px) {
    .responsive-image {
      max-width: 50%; /* Pe ecrane mari, limitează imaginea la 50% din lățime */
    }
  }
</style>

---



<Layout title="link-uri">
    <Footer />
</Layout>
<style>
  main {
    width: 100%;
  }
</style>
